<div class="container">
  <div class="row">
    <div class="col">
      <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <h3>新着商品</h3>
  <div class="row">
    <% @items.first(4).each do |item| %>
    <div class="col">
      <div class="card">
        <%= link_to item_path(item) do %>
          
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= item.name %></p>
          <% if item.is_active == true %>
            <p class="card-text"><%= item.price %>円(税抜き)</p>
          <% else %>
            <p class="card-text text-danger">販売停止中</p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to "すべての商品を見る >", items_path %>
  </div>
</div>

